/course-info.yaml
/course-remote-info.yaml
/.idea/externalDependencies.xml
/.idea/Hangman.iml
/Hangman/lesson-info.yaml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/requirements.txt
/.idea/frameworkLessonHistory/storage.storageData
/.idea/frameworkLessonHistory/storage.storageRecordIndex
/Hangman/Error/task.html
/Hangman/Hello, Hangman/task.html
/Hangman/Help is on the way/task.html
/Hangman/Keep trying/task.html
/Hangman/Let’s play a game/task.html
/Hangman/Make your choice/task.html
/Hangman/Menu, please/task.html
/Hangman/The value of life/task.html
/Hangman/Error/task-info.yaml
/Hangman/Hello, Hangman/task-info.yaml
/Hangman/Help is on the way/task-info.yaml
/Hangman/Keep trying/task-info.yaml
/Hangman/Let’s play a game/task-info.yaml
/Hangman/Make your choice/task-info.yaml
/Hangman/Menu, please/task-info.yaml
/Hangman/The value of life/task-info.yaml
/Hangman/Error/task-remote-info.yaml
/Hangman/Hello, Hangman/task-remote-info.yaml
/Hangman/Help is on the way/task-remote-info.yaml
/Hangman/Keep trying/task-remote-info.yaml
/Hangman/Let’s play a game/task-remote-info.yaml
/Hangman/Make your choice/task-remote-info.yaml
/Hangman/Menu, please/task-remote-info.yaml
/Hangman/The value of life/task-remote-info.yaml
/Hangman/task/tests.py
/.idea/vcs.xml
